<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스트리머 목록에 없는 경우</title>
</head>
<body>
    <p>스트리머 본인의 <strong>채널ID(URL상 ID)</strong>를 입력하시면 됩니다.</p>
    <p>ex)녹두로님 주소 : https://chzzk.naver.com/live/6e06f5e1907f17eff543abd06cb62891</p>
    <p>6e06f5e1907f17eff543abd06cb62891 이부분을 입력하시면 됩니다.</p>
    <p>입력하신 후 새로고침해주세요.</p>
    <form action="/register" method="post" class="form">
        <input type="text" placeholder="스트리머명" name="streamerName">
        <input type="text" placeholder="채널ID" name="streamerId">
        <input type="submit" value="Submit">
    </form>
</body>
</html>